<div class="jumbotron">
  <h1>Welkom bij Priveesbook!</h1>


  <p>Waarom?</p>
  <p>We willen social zonder de nadelen. Dus moeten we er (een klein beetje) voor betalen. </p>
  <p>Alleen op uitnodiging</p>
  <p>Niks gemonitord</p>
  <p>Geen tracking cookies</p>
  <p>Geen advertenties</p>
  <p>Geen zakelijke accounts, geen reclame</p>
</div>
<div class="card card-body mb-2">
  <p>Ik ben een kaart</p>
</div>
<div class="card card-body mb-2">
  <p>Ik ben een kaart</p>
</div>
